<div class="seccion" fxLayoutAlign="center center">
  <p><b>Lista de naves de la película {{idMovie}} de star wars</b></p>
</div>
<div style="margin:5%">
  <div fxLayout="column" fxFlex="100">
    <div fxLayout="row" fxFlex="100">
      <div fxFlex="25">
        <b>Nombre</b>
      </div>
      <div fxFlex="40" fxLayoutAlign="center center">
        <b>Marca</b>
      </div>
      <div fxFlex="15" fxLayoutAlign="center center">
        <b>Vel. Máxima</b>
      </div>
      <div fxFlex="20" fxLayoutAlign="center center">
        <b>Clase</b>
      </div>
    </div>
    <mat-divider style="background-color: black"></mat-divider>
    <div class="vehicle" (click)="getVehicle(vehicle.url)" fxLayout="row" fxFlex="100" *ngFor="let vehicle of vehicles">
      <mat-divider style="background-color: gray"></mat-divider>
      <div class="data" fxLayout="row" fxFlex="25" fxLayoutAlign="start center">
        {{vehicle.name}}
      </div>
      <div class="data" fxFlex="40" fxLayoutAlign="center center">
        {{vehicle.manufacturer}}
      </div>
      <div class="data" fxFlex="15" fxLayoutAlign="center center">
        {{vehicle.max_atmosphering_speed}}
      </div>
      <div class="data" fxFlex="20" fxLayoutAlign="center center">
        {{vehicle.vehicle_class}}
      </div>
    </div>
  </div>
</div>
<div style="margin:5%">
  <button mat-raised-button color="accent" (click)="return()">Regresar</button>
</div>
